body{
    font-family: 'Montserrat',Verdana,sans-serif;
    font-size: 14px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: radial-gradient(circle at 12.5% 12.5%, #ff82ec 0, #e36ee4 25%, #be55d8 50%, #953fcc 75%, #6c32c5 100%);
    box-sizing: border-box;
}

/* Вход */

.con_user_login{
    background-color: azure;
    height: 60vh;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 100px;
}

.user_login{
    display: flex;
    flex-direction: column;
}

.user_login label{
    display: block;
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.user_login input{
    display: block;
    margin: 0 auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #6c32c5;
}

.clearfix{
    text-align: center;
    padding-top: 60px;  
}

button{
    padding: 10px;
    width: 179px;
    border-radius: 5px;
    margin: 10px;
    border: none;
}

.cont_registr{
    margin-top: 50px;
}

.cont_registr a{
    padding-right: 10px;
}

.errorlist{
    text-align: center;
    width: 179px;
    font-size: 12px;
    color: red;
}

.errorlist li{
    list-style: none;
}

/* Регистрация */

.cancelbtn{
    background-color: rgb(255, 0, 0, 0.5);
}

.cancelbtn a{
    text-decoration: none;
    color: black;
}

.signupbtn{
    background-color: rgb(0, 128, 0, 0.5);
}