{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block main_container-stait %}
  <div class="main_container-stait">
    {% for item in news %}
    <div class="card">
      <div class="card-header">Категория: <a href="{{item.category.get_absolute_url}}">{{item.category}}</a></div>

      <div class="midea">
        {% if  item.photo %}
        <img id='photo_stait' src="{{ item.photo.url }}" alt="Изображение статьи" class="photo_stait">
        {% endif %}
      </div>

      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.content|truncatewords:50}}<a href="{{item.get_absolute_url}}" class="btn success">   Далее...</a></p>
        
      </div>

      <div class="card-footer">
        {{item.created_ap |date:"y-m-d h:m"}}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
