{% extends 'base.html' %}
{% block title %} 
{{block.super}} . Регистрация
{% endblock %}
{% block content %}

<div class="register_container">
    {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="register_error" role="alert">
          <p>Ошибка регистрации</p>
        </div>
      {% else %}
        <div class="register success" role="alert">
          <p>Успешно</p>
        </div>
      {% endif %}
    {% endfor %}
    {% endif %}
    <form method="post">
    {% csrf_token %}
    <h1>Форма регистрации</h1>
    <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
    <hr>
    {{ form.as_p }}
    <div class="clearfix">
        <button type="button" class="cancelbtn">Отменить</button>
        <button type="submit" class="signupbtn">Регистрация</button>
    </div>
    </form>
</div>
    
{% endblock %}