{% extends 'base.html' %}

{% block title %} 
{{block.super}} . Регистрация
{% endblock %}

{% block content %}
<div class="register_container">
    <form method="post">
    {% csrf_token %}
    <h1>Форма регистрации</h1>
    <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
    <hr>
    {{ form.as_p }}
        <!--<div class="container">
   
        <label for="name_user"><b>Имя</b></label>
        <input type="text" placeholder="Введите ваше имя" name="name_user" required>

        <label for="secondname_user"><b>Фамилия</b></label>
        <input type="text" placeholder="Введите вашу фамилию" name="secondname_user" required>
    
        <label for="email"><b>E-mail</b></label>
        <input type="text" placeholder="Введите вашу почту" name="email" required>
    
        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="psw" required>
    
        <label for="psw-repeat"><b>Повторить пароль</b></label>
        <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
    
        <label>
            <input type="checkbox" checked="checked" name="remember"> Запомнить меня
        </label>
    
        <p>Создавая учетную запись, вы соглашаетесь с нашим <a href="#">Условия и конфиденциальность</a>.</p>
        -->
        <div class="clearfix">
            <button type="button" class="cancelbtn">Отменить</button>
            <button type="submit" class="signupbtn">Регистрация</button>
        </div>
        </div>
    </form>
</div>
{% endblock %}