{% load news_tags %}
<div class="hrader_box">
      <div class="nav" id = "nav">
         <a href="{% url 'home' %}">Главная</a>
         <a href="#">Продукты</a>
         {% if request.user.is_authenticated %}
         <a href="{% url 'add_news' %}">Добавить статью</a>
         {% else %}
         {% endif %}
         <a href="#">Продукты</a>
         <a href="">Контакты</a>
      </div>
</div>
<div class="cont_us">
   {% if request.user.is_authenticated %}
   Добро пожаловать, 
   <br>{{ user.username }}
   <br><a href="{% url 'logout' %}">Выйти</a>
   {% else %}
   <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Вход</a>
   {% endif %}
</div>
